.ccs__CU {
    width: 100%;
    display: flex;
    background-color: rgb(10, 9, 9);
    
}

.maphoto {
    height: 30rem;
    width: 30rem;
    margin-right: 1rem;
}

.ccs__CU-container{
   
    max-width: 95%;
    display: flex;
    max-width: 95%;
    
    align-items: center;
    justify-content: space-around;
   

}
.contactusbox {
    margin-right: auto;
    word-break: break-all; 
    word-wrap: break-word; 
    width: 50rem;
}

.h3 {
    width: auto;
}


@media all and (max-width: 450px){
    .ccs__CU {
        width: 100%;
        flex-direction: column;
        
        
    }
}


@media all and (max-width: 450px){

    .maphoto {
        height: 23rem;
        width: 23rem;
        flex-direction: column;
    }
  
}
@media all and (max-width: 540px){

    .contactusbox {
        
        word-break: break-all; 
        word-wrap: break-word; 
        display: flex;
        flex-direction: column;
    }
    
}

@media all and (max-width: 540px){

   .ccs__CU-container{
    margin-left: 5%;
    flex-direction: column;
    display: flex;
   

}
}

@media all and (max-width: 540px){

    .ccs__CU {
        align-self: flex-start;
        display: flex;
        align-content: center;
        contain: content;
    
    }
    
}